<%= form_for(@team, html: {class: "team_show_table"}) do |t| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this newly created team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t.hidden_field :user_id, value:session[:user_id] %>
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </div>

  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>
