<form class="add_player">
  <h3 id="add_h1"> Add Player:</h3>
  <p id="errors"> </p>
    <label for="player_name"> Name: </label>
    <select name="player_name" id="player_name">
      <% Player.all.pluck(:name).uniq.each do |name| %>
        <option value="<%=name%>"> <%=name%> </option>
      <% end %>
    </select><br>

    <!-- <label for="player_nba_team"> Team: </label>
    <select name="player_nba_team" id="player_nba_team">
      <% Player.all.pluck(:nba_team).uniq.each do |team| %>
        <option value="<%=team%>"> <%=team%> </option>
      <% end %>
    </select><br>

    <label for="player_position"> Position: </label>
    <select name="player_position" id="player_position">
      <% Player.all.pluck(:position).uniq.each do |pos| %>
        <option value="<%=pos%>"> <%=pos%> </option>
      <% end %>
    </select><br> -->

    <input type="button" onclick="submit_form(current_id);" value="Add Player"> </input>
</form>
